<div>
    <img src="{{post.image_name}}" alt="{{post.body}}">
    <p>{{body}}</p>
    <p>Salon: {{post.hairdresser.hairdresser_name}}</p>
    <p>Style: {{post.hairstyle.hairstyle_name}}</p> 
    <p>Post by: {{post.user.name}} {{format_date createdAt}}</p>


    

    <hr>
</div>