<div>
    <img src="{{image_name}}" alt="image uploaded by user" class="hair-image">
    <p>{{post.body}}</p>
    <p>Salon: {{post.hairdresser.hairdresser_name}}</p>
    <p>Style: {{post.hairstyle.hairstyle_name}}</p> 
    <p>Post by: {{post.user.name}} {{format_date createdAt}}</p>


    

    <hr>
</div>