<!DOCTYPE html>
<html>
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hairy Styles</title>
  <link rel="stylesheet" href="/css/hairystyles.css">

</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
 <header class="head">
  <nav class="nav">

    {{!-- below is commented out to see which search bar is better in the nav --}}

      {{!-- <div class="search">
      <input type="text" class="search-input" placeholder="find your cut"/>
      </div> --}}
{{!-- 
      <form1>
      <label for="haircut-search">Search for a haircut:</label>
      <input type="text" id="search2" placeholder="e.g. shag haircut, bixie, wolf cut">
      <button id="searchButton2" type="submit">Search</button>
      </form1> --}}

      <div class="search">
        <label for="search">Search</label>
        {{!-- <input type="text" id="search" placeholder="Choose a haircut or style" /> --}}
        <select id="search" name="hairstyle">
            {{#each hairstyles}}
            <option value="{{id}}">{{hairstyle_name}}</option>
            {{/each}}
        </select>
        <button id="searchButton">Search</button>
      </div>
      
      <div></div>
      <ul>
        <li class="nav-elements"><a href="/">Home</a></li>
        <li class="nav-elements"><a href="/newPost">SUBMIT YOUR CUT</a></li>
        <li class="nav-elements"><a href="/contacts">CONTACTS</a></li>
        {{#if logged_in}}
        <li class="nav-elements"><a href="/profile">Profile</a></li>
        <li class="nav-elements" id="logout"><a href="/">LogOut</a></li>
        {{else}}
        <li class="nav-elements"><a href="/login">SIGN IN</a></li>
        {{/if}}
      </ul>
    </nav>
    <div align="center" class="logo_container">
      <div class="logo">
        <img src="/images/lo.png" alt="">
      </div>
  </div>
    
  </header>
  <main class="">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>    
    </footer>
  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

  
</body>
<script src="/js/hairystyles.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{google_api_key}}&callback=initMap&libraries=places&v=weekly" defer></script>
<script>
  document.getElementById("searchButton").addEventListener("click", function () {
    const hairstyleId = document.getElementById("search").value;
    window.location.href = `/search/${hairstyleId}`;
  });
</script>
</html>