{{#if isOwner}}
<div>
    <div class="image-container">
        <img src="/temp/{{image_name}}" alt="image uploaded by user" class="edit-image">
    </div>
    <form class="form update-project-form">
        <label for="project-desc">content:</label>
        <textarea class="form-input" id="post-desc-update" name="post-desc-update">{{body}}</textarea>
        <div class="form-buttons">
            <button type="submit" class="btn btn-sm btn-danger update-post" data-id="{{id}}">UPDATE</button>
            <button class="btn btn-sm btn-danger delete-post" data-id="{{id}}">DELETE</button>
        </div>
    </form>
</div>
{{else}}
<h3>You are not the owner of this post:</h3>
<a href="/profile">Back To Your Profile</a>
{{/if}}

<script src="/js/editPost.js"></script>