<section id="homepage">
    <!-- Google map -->
</section>

{{!-- {{#if posts.length}} --}}


<h2>Your Hair, Your Way</h2>

<div id="map"></div>
<h3>Take part in the conversation.</h3>
<div class="homepage-posts">
    {{#each posts as |post|}}

    <div class="each-hp-post">
        <img src="/temp/{{image_name}}" alt="image uploaded by user" />
        <a class="post-link" href="/post/{{post.id}}">
            <div id="style">{{post.hairstyle.hairstyle_name}} @</div>
            <div id="salon">{{hairdresser.hairdresser_name}}</div>
            <p>{{body}}</p>
            <div id="postby">{{user.name}} - {{format_date createdAt}}</div>
        </a>
    </div>

    {{/each}}
</div>
</div>