<section id="homepage">

    <label for="search">Search</label>
    <input type="text" id="search" placeholder="Enter a haircut or style" />
    <button id="searchButton">Search</button>

    <!-- Google map -->
    <div id="map"></div>
</section> 

{{!-- {{#if posts.length}}  --}}

  <div>
    <h3>{{format_plural "Post" posts.length}}</h3>
    {{#each posts as |post|}}
 
      <div>
        <img src="{{image_name}}" alt="image uploaded by user" class="something"/>
        <p>{{body}}</p>
        <p>Salon: {{hairdresser.hairdresser_name}}</p>
        <p>Style: {{post.hairstyle.hairstyle_name}}</p> 
    </div>

    {{/each}}
    <p>test text</p>
  </div> 
{{!-- 
{{/if}} --}}






 