<section id="homepage">
    <!-- Google map -->
</section>

{{!-- {{#if posts.length}} --}}

<h1>Your Hair, Your Way</h1>

<div id="map"></div>
<h2>Take part in the conversation.</h2>
<div class="homepage-posts">
    {{#each posts as |post|}}

    <div class="each-hp-post">
        <img src="/temp/{{image_name}}" alt="image uploaded by user" class="hair-image" />
        <a class="post-link" href="/post/{{post.id}}">
            <div id="style">{{post.hairstyle.hairstyle_name}} @</div>
            <div id="salon">{{hairdresser.hairdresser_name}}</div>
            <p data-location="{{hairdresser.location}}">Location: {{hairdresser.location}}</p>
            <p>{{body}}</p>
            <div id="postby">{{user.name}} - {{format_date createdAt}}</div>
        </a>
    </div>

    {{/each}}
</div>

<script>
    //Gets all the post elements
    var postElements = document.querySelectorAll(".each-hp-post");
    postElements.forEach(function (element) {
        element.addEventListener("click", function () {
            //Gets the post id from data-id attribute
            var postId = this.dataset.id;
            //Redirects to the post page
            window.location.href = postId;
        });
    });
</script>
