  <h2>{{name}}</h2>
  {{#if posts.length}}
    <h3>{{format_plural "Post" posts.length}}</h3>
    <div class="grid-container">
      {{#each posts as |post|}}
        <div class="each-hp-post">
          <div class="card-image">
            <img src="/temp/{{image_name}}" alt="image uploaded by user" class="card-image" />
          </div>
          <div class="post-link" data-id="{{id}}">
            <div id="style">{{hairstyle.hairstyle_name}} @</div>
            <div id="salon">{{hairdresser.hairdresser_name}}</div>
            <p>{{body}}</p>
            <div id="postby">{{format_date createdAt}}</div>
          </div>
        </div>
    {{/each}}
    </div>
  {{/if}}


<script src="/js/profile.js"></script>
