<div>
  <div>
    <h1>Welcome, {{name}}</h1>
  {{#if posts.length}}
  <div>
    <h3>{{format_plural "Post" posts.length}}</h3>
    {{#each posts as |post|}}
    <div>
      <div>
        <img src="{{image_name}}" alt="image uploaded by user" class="hair-image"/>
        <p>{{body}}</p>
        <p>Salon: {{post.hairdresser.hairdresser_name}}</p>
        <p>Style: {{post.hairstyle.hairstyle_name}}</p>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>


<script src="./js/profile.js"></script>
