<h1>Bad Hair Day?</h1>

<h2>Keep Searching or
    <a class="link" href="/login">LOGIN</a> / <a class="link" href="/signup">SIGN UP</a> to post your own.</p>
</h2>

<h3>{{format_plural "Post" posts.length}}:</h3>
<div class="homepage-posts">
    {{#each post}}
    <div class="each-hp-post">
        <img src="/temp/{{image_name}}" alt="image uploaded by user" class="hair-image"/>
        <a class="post-link" href="/post/{{id}}">
            <div id="style"> {{hairstyle.hairstyle_name}}</div>
            <div id="salon">{{hairdresser.hairdresser_name}}</div>
            <p>{{body}}</p>
            <div id="postby">{{user.name}} - {{format_date createdAt}}</div>
        </a>
    </div>

    {{/each}}
</div>
</div>